{% extends "main/base.html" %}

{% block title %}Détail de l'Étudiant{% endblock %}

{% block content %}
<h2>Détail de l'Étudiant</h2>
<p><strong>Nom:</strong> {{ etudiant.nom }}</p>
<p><strong>Prénom:</strong> {{ etudiant.prenom }}</p>
<p><strong>Groupe:</strong> {{ etudiant.groupe }}</p>
<p><strong>Email:</strong> {{ etudiant.email }}</p>

<h3>Notes</h3>
<table class="table">
    <thead>
        <tr>
            <th>Examen</th>
            <th>Note</th>
            <th>Appréciation</th>
        </tr>
    </thead>
    <tbody>
        {% for note in notes %}
        <tr>
            <td>{{ note.examen.titre }}</td>
            <td>{{ note.note }}</td>
            <td>{{ note.appreciation }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'generate_pdf' etudiant.pk %}" class="btn btn-primary">Télécharger le Relevé de Notes en PDF</a>
{% endblock %}
