{% extends "main/base.html" %}

{% block title %}Liste des Étudiants{% endblock %}

{% block content %}
    <h1>Liste des Étudiants</h1>
    <a href="{% url 'etudiant_create' %}" class="btn btn-primary mb-2">Ajouter un étudiant</a>
    <ul class="list-group">
        {% for etudiant in etudiants %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'etudiant_detail' etudiant.pk %}">{{ etudiant.nom }} {{ etudiant.prenom }}</a>
                <div>
                    <a href="{% url 'etudiant_update' etudiant.pk %}" class="btn btn-secondary btn-sm">Modifier</a>
                    <a href="{% url 'etudiant_delete' etudiant.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
