{% extends "main/base.html" %}

{% block title %}Détails de l'Examen{% endblock %}

{% block content %}
    <h1>{{ examen.titre }}</h1>
    <p><strong>Date :</strong> {{ examen.date }}</p>
    <p><strong>Coefficient :</strong> {{ examen.coefficient }}</p>
    {% if examen.ressource is not None %}
        <p><strong> Ressource :</strong> {{ examen.ressource }}</p>
    {% else %}
        <p><strong> Sae :</strong> {{ examen.sae }}</p>
    {% endif %}
    <p><strong>Enseignant(s) :</strong> {% for enseignant in examen.enseignants.all %}
        {{ enseignant }} </p>
    {% endfor %}
    <a href="{% url 'examen_update' examen.pk %}" class="btn btn-secondary mt-3">Modifier</a>
{% endblock %}
