{% extends "main/base.html" %}

{% block title %}Ajouter/Modifier Examen{% endblock %}

{% block content %}
    <h2>{% if form.instance.pk %}Modifier Examen{% else %}Ajouter Examen{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div>
            <label for="date">Date :</label>
            <input type="date" id="date" name="date">
        </div>

        <div>
            <label for="coefficient">Coefficient :</label>
            <input type="number" id="coefficient" name="coefficient" step="0.25" value="{{ form.instance.coefficient }}">
        </div>
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %}</button>
    </form>
{% endblock %}
