<!-- main/grade_report_pdf.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Relevé de Notes</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Relevé de Notes</h1>
    <p>Date : {{ current_date }} {{ current_time }}</p>
    <p>Groupe : {{ etudiant.groupe }}</p>
    <h2>Étudiant : {{ etudiant.nom }} {{ etudiant.prenom }}</h2>
    
    <h3>Unités d'Enseignement</h3>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Moyenne Étudiant</th>
                <th>Moyenne Groupe</th>
                <th>Note Max</th>
                <th>Note Min</th>
            </tr>
        </thead>
        <tbody>
            {% for ue in ues %}
            <tr>
                <td>{{ ue.code }}</td>
                <td>{{ ue.nom }}</td>
                <td>{{ ue.moyenne_etudiant }}</td>
                <td>{{ ue.moyenne_groupe }}</td>
                <td>{{ ue.note_max }}</td>
                <td>{{ ue.note_min }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Ressources et SAEs</h3>
    {% for ue in ues %}
        <h4>{{ ue.nom }}</h4>
        <ul>
            <li>Ressources:
                <ul>
                    {% for ressource in ue.ressources %}
                        <li>{{ ressource.ressource.nom }} - Coefficient: {{ ressource.coefficient }} - Evaluations:</li>
                        <ul>
                            {%for note in notes%}
                                {% if note.examen.ressource_id == ressource.ressource.id %}
                                    <li>{{ note.examen }} : {{ note.note }}<li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            </li>
            <li>SAEs:
                <ul>
                    {% for sae in ue.saes %}
                        <li>{{ sae.sae.nom }} - Coefficient: {{ sae.coefficient }} - Evaluations:</li>
                        <ul>
                            {%for note in notes%}
                                {% if note.examen.sae_id == sae.sae.id %}
                                    <li>{{ note.examen }} : {{ note.note }}<li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}
</body>
</html>
