{% extends "main/base.html" %}

{% block title %}Relevé de Notes{% endblock %}

{% block content %}
    <h2>Relevé de Notes</h2>
    
    {% if etudiants %}
        <h3>Étudiants</h3>
        <table class="table table-striped">
            <tbody>
                {% for etudiant in etudiants %}
                    <tr>
                        {% for item in etudiant %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if ues %}
        <h3>Unités d'enseignement (UE)</h3>
        <table class="table table-striped">
            <tbody>
                {% for ue in ues %}
                    <tr>
                        {% for item in ue %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if ressources %}
        <h3>Ressources</h3>
        <table class="table table-striped">
            <tbody>
                {% for ressource in ressources %}
                    <tr>
                        {% for item in ressource %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if enseignants %}
        <h3>Enseignants</h3>
        <table class="table table-striped">
            <tbody>
                {% for enseignant in enseignants %}
                    <tr>
                        {% for item in enseignant %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if examens %}
        <h3>Examens</h3>
        <table class="table table-striped">
            <tbody>
                {% for examen in examens %}
                    <tr>
                        {% for item in examen %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if notes %}
        <h3>Notes</h3>
        <table class="table table-striped">
            <tbody>
                {% for note in notes %}
                    <tr>
                        {% for item in note %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
