{% extends "main/base.html" %}

{% block title %}Liste des SAEs{% endblock %}

{% block content %}
    <h1>Liste des SAEs</h1>
    <a href="{% url 'sae_create' %}" class="btn btn-primary mb-2">Ajouter une SAE</a>
    <ul class="list-group">
        {% for sae in saes %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'sae_detail' sae.pk %}">R{{ sae.code }} - {{ sae.nom }}</a>
                <div>
                    <a href="{% url 'sae_update' sae.pk %}" class="btn btn-secondary btn-sm">Modifier</a>
                    <a href="{% url 'sae_delete' sae.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
