{% extends "main/base.html" %}

{% block title %}Liste des UE{% endblock %}

{% block content %}
    <h1>Liste des Unités d'Enseignement</h1>
    <a href="{% url 'ue_create' %}" class="btn btn-primary mb-2">Ajouter une UE</a>
    <ul class="list-group">
        {% for ue in ues %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'ue_detail' ue.pk %}">{{ ue.code }}</a>
                <div>
                    <a href="{% url 'ue_update' ue.pk %}" class="btn btn-secondary btn-sm">Modifier</a>
                    <a href="{% url 'ue_delete' ue.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
